  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
            <h2>联系方式</h2>
            <div class="row">
                <div class="col-sm-3" style="text-align: center;"></div>
                <div class="col-sm-3" style="text-align: center;">电话座机</div>
                <div class="col-sm-3" style="text-align: center;">024-66671390</div>
                <div class="col-sm-3" style="text-align: center;"></div>
            </div>
            <div class="row">
                <div class="col-sm-3" style="text-align: center;"></div>
                <div class="col-sm-3" style="text-align: center;">电话手机</div>
                <div class="col-sm-3" style="text-align: center;">13709821516</div>
                <div class="col-sm-3" style="text-align: center;"></div>
            </div>
            <div class="row">
                <div class="col-sm-3" style="text-align: center;"></div>
                <div class="col-sm-3" style="text-align: center;">联系人</div>
                <div class="col-sm-3" style="text-align: center;">杨克佳</div>
                <div class="col-sm-3" style="text-align: center;"></div>
            </div>
            <div class="row">
                <div class="col-sm-3" style="text-align: center;"></div>
                <div class="col-sm-3" style="text-align: center;">公司地址</div>
                <div class="col-sm-3" style="text-align: center;">沈阳市浑南新区嘉华新城</div>
                <div class="col-sm-3" style="text-align: center;"></div>
            </div>
          </div>
      </div>
  </aside>
